.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}

.formPassword {
  position: relative;
}

.formLabel {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
