.formPassword {
  position: relative;
}

.formLabel {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.passwordToggle {
  position: absolute;
  top: 17px;
  right: 16px;
  cursor: pointer;
}

.formLine input {
  width: 100%;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  border: 1.2px solid rgb(211, 216, 220);
  border-radius: 8px;
  padding: 13px 35px 13px 15px;
}

.formLine input::placeholder {
  color: rgb(161, 171, 181);
}
