@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../fonts/BasisGrotesquePro-Regular.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../fonts/BasisGrotesquePro-Medium.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  font-family: "Basis Grotesque Pro";
  height: 100%;
  color: rgb(6, 14, 30);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
