.emailInput {
  width: 100%;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  border: 1.2px solid rgb(211, 216, 220);
  border-radius: 8px;
  padding: 13px 35px 13px 15px;
}
.red {
  border: 1.2px solid rgb(202, 50, 50);
}

.formLine input::placeholder {
  color: rgb(161, 171, 181);
}

.error {
  text-align: left;
  color: rgb(202, 50, 50);
}
